.field-filter-buttons {
    display: flex;
    justify-content: flex-start;
    padding: 20px 100px;
    gap: 10px;
}

.field-filter-buttons button {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #7b7b7b;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
}

.field-filter-buttons button:hover {
    background-color: #b0b0b0;
}

.field-filter-buttons button.active {
    background-color: #b0b0b0;
}

.table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.field-schedule-table {
    table-layout: fixed;
    border-collapse: collapse;
    min-width: max-content;
    border-spacing: 0;
    overflow: scroll;
}

.field-schedule-table th {
    height: 50px;
}

.field-schedule-table th.time-col,
.field-schedule-table td.time-col {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
    height: 50px;
    word-wrap: break-word;
    font-weight: bold;
    background-color: #b0b0b0;
    border-top: 1px solid #7b7b7b;
    border-bottom: 1px solid #7b7b7b;
    border-right: none;
    position: sticky;
    left: 0;
    z-index: 2;
}

.field-schedule-table th.field-col,
.field-schedule-table td.field-col {
    border: 1px solid #7b7b7b;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: 50px;
    word-wrap: break-word;
}

.court-button {
    border-radius: 10px;
    border: 1px solid #7b7b7b;
    background-color: white;
}

.court-button:hover {
    background-color: #7b7b7b;
}