.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background-color: #ffffff;
}


.navbar-left {
    display: flex;
    font-size: 20px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 24px;
    font-size: 20px;
}

.navbar-center li {
    position: relative;
    list-style: none;
    
}

.navbar-center li a {
    color: #7b7b7b;
    transition: color 0.3s ease;
}

.navbar-center li a:hover {
    color: black;
}

.navbar-center li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* 底線與文字的間距 */
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.navbar-center li:hover::after {
    width: 100%;
}

.navbar-right {
    width: 80px;
    height: 40px;  
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 24px;
    align-items: center;
    gap: 4px;
    border: 2px solid #7b7b7b;
    border-radius: 50px;
}

.person-icon{
    font-size: 32px;
}